main .menu{
  margin-bottom: 20px;
  margin-top: 20px;
  text-align:center}

main .menu .button{
  -webkit-transition: all 0.3s ease;   transition: all 0.3s ease;
  cursor: pointer;
  display: inline-block;
  padding: 15px;
  color: #fff;
  font-family: sans-serif;
  margin-right: 10px;
  margin-left: 10px;
  background-color: #000;
  margin-bottom: 20px
}
main .menu .button.selected{
  background-color: #56d42d;
  color: #000
}

@media (min-width: 650px) {
 main .menu .button:hover {
   background-color: #56d42d;
   color: #000  
  }
}

@media (max-width: 650px) {
  main .menu .button{
    display: block;
  }
    }