<!DOCTYPE html>
<html>
<head>
    <title>Body part selection</title>
    <link rel="stylesheet" href="static/css/stylesheet.css">
</head>
<body >

<!-- source of style and javascript for select buttons can be found here: https://codepen.io/memrekilic/pen/MbJLaK -->
<main >
    <div class="menu">
      <a  class="button" id="left_hand">Left Hand</a>
      <a  class="button" id="right_hand" >Right Hand</a>
      <a  class="button" id="left_foot">Left foot</a>
      <a  class="button" id="right_foot">Right foot</a>
    </div>
</main>


<script src="/static/js/script.js"></script>
</body>
</html>